.DS_STORE
out/**
archive/**
symmetric-client/**
.gradle/**
delete_build/**
config.xml
*.config.xml
cache/**
Omoikane.iml
Omoikane.iws
Omoikane.ipr
smartPosORM.log
cache

Omoikane.iws

*.iws

*.log

LogoHA.png

*.db

cdsoro.properties
